node_modules
.env
bash.exe.stackdump
log.txt
records.log
records.txt
userRegistered.txt
*.stackdump
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/node_modules
/dist
/build
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
